In [1]:
import numpy as np
import pandas as pd
def clean():
    df_clean = None
    df = pd.read_csv("earthquake.csv")
    col_n = ['time','latitude','longitude','depth','mag','place']
    a = pd.DataFrame(df,columns=col_n)
    b=pd.DataFrame(a['place'].str.split(',',1).tolist(),columns=['loc','region'])
    col_clean = ['time','latitude','longitude','depth','mag','region']
    result = a.join(b)
    df_clean = pd.DataFrame(result,columns=col_clean)
    df_clean = df_clean.dropna()
    df_clean = df_clean.drop_duplicates()
    return df_clean
print(clean())

                           time   latitude   longitude   depth   mag  \
0      2018-09-19T02:42:05.360Z  38.776501 -122.729332    1.47  0.72
1      2018-09-19T02:31:38.744Z  66.385000 -157.328300    5.50  1.30
2      2018-09-19T02:29:39.802Z  62.375800 -149.730800    0.00  1.60
3      2018-09-19T02:23:47.301Z  60.438400 -143.057200   10.60  1.00
4      2018-09-19T02:16:19.050Z  37.231800 -114.940500    7.90  0.70
5      2018-09-19T02:08:05.660Z  33.652833 -116.734000   14.28  1.17
6      2018-09-19T02:01:05.728Z  61.050500 -152.407600  109.70  1.70
7      2018-09-19T01:49:54.186Z  61.991600 -150.609000   19.50  1.00
8      2018-09-19T01:39:35.992Z  63.370700 -145.196900   10.00  1.10
9      2018-09-19T01:24:12.992Z  61.717100 -146.641600   14.20  2.80
10     2018-09-19T01:21:23.900Z  33.881832 -117.211166    7.80  1.07
11     2018-09-19T01:19:50.154Z  65.410600 -147.856700    6.60  1.40
12     2018-09-19T01:08:31.460Z  33.944167 -115.845000    1.85  1.45
13     2018-09-19T00:59:28.640Z  12.424000  -87.064800  127.58  4.50
14     2018-09-19T00:48:32.442Z  62.367400 -149.654200    8.30  1.20
15     2018-09-19T00:46:46.494Z  62.229100 -151.315000   79.80  1.30
16     2018-09-19T00:40:54.500Z  56.251500 -149.218200   27.70  3.90
17     2018-09-19T00:38:57.371Z  57.422900 -149.922700    0.00  2.60
18     2018-09-19T00:30:52.667Z  59.836200 -151.131500   53.80  1.40
19     2018-09-19T00:22:44.737Z  63.537600 -147.725000   17.20  1.10
20     2018-09-19T00:21:32.180Z  46.584500 -120.779667   -0.59  1.78
21     2018-09-19T00:17:38.000Z  -6.488000  129.961400  152.72  4.20
22     2018-09-19T00:16:58.990Z  33.342500 -116.184167    3.62  1.07
23     2018-09-19T00:10:10.900Z  36.477500 -121.056833    7.10  2.36
24     2018-09-19T00:07:12.620Z  33.530998 -116.642334   11.16  0.85
25     2018-09-19T00:03:02.366Z  62.949000 -150.699400  108.40  1.90
26     2018-09-19T00:01:37.050Z  36.705500  141.001300   45.93  3.90
27     2018-09-18T23:57:49.447Z  60.121600 -141.300000    5.50  1.00
28     2018-09-18T23:56:21.000Z  19.399834 -155.281494    0.61  1.81
29     2018-09-18T23:50:10.350Z -30.875500  -71.446100   47.58  3.90
...                         ...        ...         ...     ...   ...
10192  2018-08-20T03:53:58.762Z  69.463300 -144.160100    1.00  2.20
10193  2018-08-20T03:52:24.665Z  38.415700 -118.921000    9.70  0.90
10194  2018-08-20T03:52:06.087Z  69.556500 -145.027700    5.00  1.90
10195  2018-08-20T03:51:40.635Z  38.419400 -118.913500    8.00  0.90
10196  2018-08-20T03:50:15.552Z  69.556900 -144.702800   10.30  3.10
10197  2018-08-20T03:48:03.118Z  69.519500 -144.357700    8.20  1.00
10198  2018-08-20T03:48:01.430Z  48.571667 -123.051167   13.96  0.99
10199  2018-08-20T03:45:31.400Z  19.166000  -66.538500   13.00  2.88
10200  2018-08-20T03:45:09.426Z  69.489800 -144.263300    8.70  2.20
10201  2018-08-20T03:44:06.665Z  65.571000 -144.855700   12.90  0.90
10202  2018-08-20T03:40:20.070Z  -8.313200  116.762100   10.00  4.10
10203  2018-08-20T03:38:24.846Z  69.464800 -144.107700    2.20  1.50
10204  2018-08-20T03:38:16.573Z  59.885100 -141.279700   20.50  1.50
10205  2018-08-20T03:30:12.770Z  33.487000 -116.786167    4.52  0.14
10206  2018-08-20T03:29:11.461Z  36.853500 -117.690500   10.00  0.10
10208  2018-08-20T03:20:53.832Z  69.493200 -144.128000    7.00  0.70
10209  2018-08-20T03:20:33.467Z  65.745400 -150.387700    8.50  0.80
10210  2018-08-20T03:18:18.631Z  69.435800 -144.494900    7.80  1.10
10211  2018-08-20T03:17:22.906Z  65.626100 -161.822500   13.00  1.30
10212  2018-08-20T03:12:53.560Z  33.497333 -116.795167    3.59  0.27
10213  2018-08-20T03:12:13.580Z  46.624833 -120.527500   15.79  0.92
10214  2018-08-20T03:11:41.083Z  69.565500 -145.093100    0.80  1.30
10215  2018-08-20T03:10:29.900Z  58.223700 -142.518400   10.00  2.60
10216  2018-08-20T03:06:33.107Z  69.531800 -144.658900    3.70  1.10
10217  2018-08-20T03:04:11.280Z  33.485167 -116.785000    4.54  0.29
10218  2018-08-20T03:00:34.960Z  19.196333 -155.397171   33.11  1.94
10219  2018-08-20T02:59:25.689Z  69.448300 -144.148700    0.10  1.10
10220  2018-08-20T02:58:04.870Z  33.477167 -116.791667    3.91  1.73
10221  2018-08-20T02:57:36.210Z  56.116600 -149.838700   10.00  3.30
10222  2018-08-20T02:48:04.552Z  69.542600 -144.632300   21.60  1.20

             region
0                CA
1            Alaska
2            Alaska
3            Alaska
4            Nevada
5                CA
6            Alaska
7            Alaska
8            Alaska
9            Alaska
10               CA
11           Alaska
12               CA
13        Nicaragua
14           Alaska
15           Alaska
16           Alaska
17           Alaska
18           Alaska
19           Alaska
20       Washington
21        Indonesia
22               CA
23               CA
24               CA
25           Alaska
26            Japan
27           Alaska
28           Hawaii
29            Chile
...             ...
10192        Alaska
10193        Nevada
10194        Alaska
10195        Nevada
10196        Alaska
10197        Alaska
10198    Washington
10199   Puerto Rico
10200        Alaska
10201        Alaska
10202     Indonesia
10203        Alaska
10204        Alaska
10205            CA
10206    California
10208        Alaska
10209        Alaska
10210        Alaska
10211        Alaska
10212            CA
10213    Washington
10214        Alaska
10215        Alaska
10216        Alaska
10217            CA
10218        Hawaii
10219        Alaska
10220            CA
10221        Alaska
10222        Alaska

[10125 rows x 6 columns]

In [413]:
df = clean()

In [414]:
df

,time,latitude,longitude,depth,mag,region
0,2018-09-19T02:42:05.360Z,38.776501,-122.729332,1.47,0.72,CA
1,2018-09-19T02:31:38.744Z,66.385000,-157.328300,5.50,1.30,Alaska
2,2018-09-19T02:29:39.802Z,62.375800,-149.730800,0.00,1.60,Alaska
3,2018-09-19T02:23:47.301Z,60.438400,-143.057200,10.60,1.00,Alaska
4,2018-09-19T02:16:19.050Z,37.231800,-114.940500,7.90,0.70,Nevada
5,2018-09-19T02:08:05.660Z,33.652833,-116.734000,14.28,1.17,CA
6,2018-09-19T02:01:05.728Z,61.050500,-152.407600,109.70,1.70,Alaska
7,2018-09-19T01:49:54.186Z,61.991600,-150.609000,19.50,1.00,Alaska
8,2018-09-19T01:39:35.992Z,63.370700,-145.196900,10.00,1.10,Alaska
9,2018-09-19T01:24:12.992Z,61.717100,-146.641600,14.20,2.80,Alaska
10,2018-09-19T01:21:23.900Z,33.881832,-117.211166,7.80,1.07,CA
11,2018-09-19T01:19:50.154Z,65.410600,-147.856700,6.60,1.40,Alaska
12,2018-09-19T01:08:31.460Z,33.944167,-115.845000,1.85,1.45,CA
13,2018-09-19T00:59:28.640Z,12.424000,-87.064800,127.58,4.50,Nicaragua
14,2018-09-19T00:48:32.442Z,62.367400,-149.654200,8.30,1.20,Alaska
15,2018-09-19T00:46:46.494Z,62.229100,-151.315000,79.80,1.30,Alaska
16,2018-09-19T00:40:54.500Z,56.251500,-149.218200,27.70,3.90,Alaska
17,2018-09-19T00:38:57.371Z,57.422900,-149.922700,0.00,2.60,Alaska
18,2018-09-19T00:30:52.667Z,59.836200,-151.131500,53.80,1.40,Alaska
19,2018-09-19T00:22:44.737Z,63.537600,-147.725000,17.20,1.10,Alaska
20,2018-09-19T00:21:32.180Z,46.584500,-120.779667,-0.59,1.78,Washington
21,2018-09-19T00:17:38.000Z,-6.488000,129.961400,152.72,4.20,Indonesia
22,2018-09-19T00:16:58.990Z,33.342500,-116.184167,3.62,1.07,CA
23,2018-09-19T00:10:10.900Z,36.477500,-121.056833,7.10,2.36,CA
24,2018-09-19T00:07:12.620Z,33.530998,-116.642334,11.16,0.85,CA
25,2018-09-19T00:03:02.366Z,62.949000,-150.699400,108.40,1.90,Alaska
26,2018-09-19T00:01:37.050Z,36.705500,141.001300,45.93,3.90,Japan
27,2018-09-18T23:57:49.447Z,60.121600,-141.300000,5.50,1.00,Alaska
28,2018-09-18T23:56:21.000Z,19.399834,-155.281494,0.61,1.81,Hawaii
29,2018-09-18T23:50:10.350Z,-30.875500,-71.446100,47.58,3.90,Chile
...,...,...,...,...,...,...
10192,2018-08-20T03:53:58.762Z,69.463300,-144.160100,1.00,2.20,Alaska
10193,2018-08-20T03:52:24.665Z,38.415700,-118.921000,9.70,0.90,Nevada
10194,2018-08-20T03:52:06.087Z,69.556500,-145.027700,5.00,1.90,Alaska
10195,2018-08-20T03:51:40.635Z,38.419400,-118.913500,8.00,0.90,Nevada
10196,2018-08-20T03:50:15.552Z,69.556900,-144.702800,10.30,3.10,Alaska
10197,2018-08-20T03:48:03.118Z,69.519500,-144.357700,8.20,1.00,Alaska
10198,2018-08-20T03:48:01.430Z,48.571667,-123.051167,13.96,0.99,Washington
10199,2018-08-20T03:45:31.400Z,19.166000,-66.538500,13.00,2.88,Puerto Rico
10200,2018-08-20T03:45:09.426Z,69.489800,-144.263300,8.70,2.20,Alaska
10201,2018-08-20T03:44:06.665Z,65.571000,-144.855700,12.90,0.90,Alaska
10202,2018-08-20T03:40:20.070Z,-8.313200,116.762100,10.00,4.10,Indonesia
10203,2018-08-20T03:38:24.846Z,69.464800,-144.107700,2.20,1.50,Alaska
10204,2018-08-20T03:38:16.573Z,59.885100,-141.279700,20.50,1.50,Alaska
10205,2018-08-20T03:30:12.770Z,33.487000,-116.786167,4.52,0.14,CA
10206,2018-08-20T03:29:11.461Z,36.853500,-117.690500,10.00,0.10,California
10208,2018-08-20T03:20:53.832Z,69.493200,-144.128000,7.00,0.70,Alaska
10209,2018-08-20T03:20:33.467Z,65.745400,-150.387700,8.50,0.80,Alaska
10210,2018-08-20T03:18:18.631Z,69.435800,-144.494900,7.80,1.10,Alaska
10211,2018-08-20T03:17:22.906Z,65.626100,-161.822500,13.00,1.30,Alaska
10212,2018-08-20T03:12:53.560Z,33.497333,-116.795167,3.59,0.27,CA
10213,2018-08-20T03:12:13.580Z,46.624833,-120.527500,15.79,0.92,Washington
10214,2018-08-20T03:11:41.083Z,69.565500,-145.093100,0.80,1.30,Alaska
10215,2018-08-20T03:10:29.900Z,58.223700,-142.518400,10.00,2.60,Alaska
10216,2018-08-20T03:06:33.107Z,69.531800,-144.658900,3.70,1.10,Alaska
10217,2018-08-20T03:04:11.280Z,33.485167,-116.785000,4.54,0.29,CA
10218,2018-08-20T03:00:34.960Z,19.196333,-155.397171,33.11,1.94,Hawaii
10219,2018-08-20T02:59:25.689Z,69.448300,-144.148700,0.10,1.10,Alaska
10220,2018-08-20T02:58:04.870Z,33.477167,-116.791667,3.91,1.73,CA
10221,2018-08-20T02:57:36.210Z,56.116600,-149.838700,10.00,3.30,Alaska
10222,2018-08-20T02:48:04.552Z,69.542600,-144.632300,21.60,1.20,Alaska

In [415]:
df = pd.DataFrame(df,columns=['mag','region'])

In [416]:
df

        mag        region
0      0.72            CA
1      1.30        Alaska
2      1.60        Alaska
3      1.00        Alaska
4      0.70        Nevada
5      1.17            CA
6      1.70        Alaska
7      1.00        Alaska
8      1.10        Alaska
9      2.80        Alaska
10     1.07            CA
11     1.40        Alaska
12     1.45            CA
13     4.50     Nicaragua
14     1.20        Alaska
15     1.30        Alaska
16     3.90        Alaska
17     2.60        Alaska
18     1.40        Alaska
19     1.10        Alaska
20     1.78    Washington
21     4.20     Indonesia
22     1.07            CA
23     2.36            CA
24     0.85            CA
25     1.90        Alaska
26     3.90         Japan
27     1.00        Alaska
28     1.81        Hawaii
29     3.90         Chile
...     ...           ...
10192  2.20        Alaska
10193  0.90        Nevada
10194  1.90        Alaska
10195  0.90        Nevada
10196  3.10        Alaska
10197  1.00        Alaska
10198  0.99    Washington
10199  2.88   Puerto Rico
10200  2.20        Alaska
10201  0.90        Alaska
10202  4.10     Indonesia
10203  1.50        Alaska
10204  1.50        Alaska
10205  0.14            CA
10206  0.10    California
10208  0.70        Alaska
10209  0.80        Alaska
10210  1.10        Alaska
10211  1.30        Alaska
10212  0.27            CA
10213  0.92    Washington
10214  1.30        Alaska
10215  2.60        Alaska
10216  1.10        Alaska
10217  0.29            CA
10218  1.94        Hawaii
10219  1.10        Alaska
10220  1.73            CA
10221  3.30        Alaska
10222  1.20        Alaska

[10125 rows x 2 columns]

In [417]:
df['mag'] = pd.cut(df.mag,bins=[0,2,5,7,9,100],right=False,labels=['micro','light','strong','major','great'])

In [422]:
df.head()

     mag   region
0  micro       CA
1  micro   Alaska
2  micro   Alaska
3  micro   Alaska
4  micro   Nevada

In [436]:
df_group = df.groupby(by=['mag','region'],as_index=False)['region'].count()

In [437]:
df_group1 = df_group.reset_index()

In [438]:
df_group

      mag  region
0   micro    7237
1   light    2533
2  strong     143
3   major       5
4   great       0

In [353]:
df_group_new = pd.DataFrame(df_group,columns=['region',' '])

In [354]:
df_group_new

                                                      region
mag    region
micro   Alaska                                          2225 NaN
        Arizona                                            6 NaN
        Arkansas                                           4 NaN
        B.C., MX                                           6 NaN
        CA                                              3373 NaN
        California                                       149 NaN
        Canada                                            23 NaN
        Dominican Republic                                 1 NaN
        Georgia                                            1 NaN
        Hawaii                                           193 NaN
        Idaho                                             34 NaN
        Kansas                                            31 NaN
        Maine                                              2 NaN
        Missouri                                           2 NaN
        Montana                                          200 NaN
        NV                                                 1 NaN
        Nevada                                           539 NaN
        New Hampshire                                      1 NaN
        New Jersey                                         1 NaN
        Ohio                                               1 NaN
        Oklahoma                                           1 NaN
        Oregon                                            23 NaN
        Pasadena, CA                                       1 NaN
        Pennsylvania                                       3 NaN
        Puerto Rico                                       72 NaN
        Tennessee                                         51 NaN
        Utah                                              84 NaN
        Vermont                                            1 NaN
        Washington                                       163 NaN
        Wyoming                                           45 NaN
...                                                      ...  ..
strong  Greece                                             2 NaN
        Guam                                               1 NaN
        India                                              3 NaN
        Indonesia                                         23 NaN
        Iran                                               3 NaN
        Japan                                             15 NaN
        Japan region                                       1 NaN
        Mexico                                             1 NaN
        New Caledonia                                     12 NaN
        New Zealand                                        3 NaN
        Nicaragua                                          1 NaN
        Northern Mariana Islands                           4 NaN
        Oregon                                             1 NaN
        Panama                                             1 NaN
        Papua New Guinea                                  12 NaN
        Peru                                               3 NaN
        Philippines                                        6 NaN
        Russia                                             5 NaN
        Solomon Islands                                    2 NaN
        South Georgia and the South Sandwich Islands       2 NaN
        South Sandwich Islands                             8 NaN
        Tonga                                              3 NaN
        Turkey                                             1 NaN
        Vanuatu                                            4 NaN
        Venezuela                                          1 NaN
        offshore Azerbaijan                                1 NaN
major   Fiji                                               2 NaN
        New Caledonia                                      1 NaN
        Peru                                               1 NaN
        Venezuela                                          1 NaN

[161 rows x 2 columns]

In [294]:
df_reindex = df2_groupd.reset_index().dropna()

In [295]:
df_reindex

       mag                                         region
0    micro                                    Afghanistan
1    micro                                        Alabama
2    micro                                         Alaska
3    micro                                      Argentina
4    micro                                        Arizona
5    micro                                       Arkansas
6    micro                                      Australia
7    micro                                       B.C., MX
8    micro                                        Bolivia
9    micro             Bonaire, Saint Eustatius and Saba
10   micro                         Bosnia and Herzegovina
11   micro                         British Virgin Islands
12   micro                                          Burma
13   micro                                             CA
14   micro                                     California
15   micro                                         Canada
16   micro                                          Chile
17   micro                                          China
18   micro                                       Colombia
19   micro                                       Colorado
20   micro                                     Costa Rica
21   micro                                        Croatia
22   micro               Democratic Republic of the Congo
23   micro                             Dominican Republic
24   micro                                     East Timor
25   micro                                        Ecuador
26   micro                                    El Salvador
27   micro                                           Fiji
28   micro                                        Georgia
29   micro                                         Greece
..     ...                                            ...
378  major                                         Poland
379  major                                       Portugal
380  major                                    Puerto Rico
381  major                                        Romania
382  major                                         Russia
383  major                                Solomon Islands
384  major                                   South Africa
385  major                                 South Carolina
386  major   South Georgia and the South Sandwich Islands
387  major                         South Sandwich Islands
388  major                         Svalbard and Jan Mayen
389  major                                         Taiwan
390  major                                     Tajikistan
391  major                                       Tanzania
392  major                                      Tennessee
393  major                                          Texas
394  major                                          Tonga
395  major                            Trinidad and Tobago
396  major                                         Turkey
397  major                            U.S. Virgin Islands
398  major                                         Uganda
399  major                                 United Kingdom
400  major                                           Utah
401  major                                        Vanuatu
402  major                                      Venezuela
403  major                                        Vermont
404  major                              Wallis and Futuna
405  major                                     Washington
406  major                                        Wyoming
407  major                            offshore Azerbaijan

[408 rows x 2 columns]

In [296]:
df_sort = df_reindex.sort_values(by='time', ascending=False).drop_duplicates(['mag'])

KeyError: 'time'

In [278]:
def mag_region():
    # 加载清洁后数据
    df_clean = clean()
    # 数据离散化，注意开闭区间
    df_clean['mag'] = pd.cut(df_clean.mag, bins=[0, 2, 5, 7, 9, 15], right=False, labels=[
                             'micro', 'light', 'strong', 'major', 'great'])
    
#     print(df_clean)
    # 多索引分组聚合并计数
    df_group = df_clean.groupby(by=['mag', 'region']).count()
    # 重置索引并去除缺失值
    df_reindex = df_group.reset_index().dropna()
    # 按计数从大到小排序，并使用去除重复值的方法巧妙地保留下各地区最大值
    df_sort = df_reindex.sort_values(
        by='time', ascending=False).drop_duplicates(['mag'])
    # 按题目要求整理并重命名
    df_final = df_sort.set_index('mag')[['region', 'time']].rename(
        columns={"time": "times"})
    # 按题目要求将计数处理成 int 类型
    df_final['times'] = df_final.times.astype('int')

    return df_final

In [279]:
mag_region()

            region  times
mag
micro           CA   3373
light       Alaska   1222
strong   Indonesia     23
major         Fiji      2

In [297]:
df_clean = clean()

In [298]:
df_clean['mag'] = pd.cut(df_clean.mag, bins=[0, 2, 5, 7, 9, 15], right=False, labels=['micro', 'light', 'strong', 'major', 'great'])

In [299]:
df_clean

,time,latitude,longitude,depth,mag,region
0,2018-09-19T02:42:05.360Z,38.776501,-122.729332,1.47,micro,CA
1,2018-09-19T02:31:38.744Z,66.385000,-157.328300,5.50,micro,Alaska
2,2018-09-19T02:29:39.802Z,62.375800,-149.730800,0.00,micro,Alaska
3,2018-09-19T02:23:47.301Z,60.438400,-143.057200,10.60,micro,Alaska
4,2018-09-19T02:16:19.050Z,37.231800,-114.940500,7.90,micro,Nevada
5,2018-09-19T02:08:05.660Z,33.652833,-116.734000,14.28,micro,CA
6,2018-09-19T02:01:05.728Z,61.050500,-152.407600,109.70,micro,Alaska
7,2018-09-19T01:49:54.186Z,61.991600,-150.609000,19.50,micro,Alaska
8,2018-09-19T01:39:35.992Z,63.370700,-145.196900,10.00,micro,Alaska
9,2018-09-19T01:24:12.992Z,61.717100,-146.641600,14.20,light,Alaska
10,2018-09-19T01:21:23.900Z,33.881832,-117.211166,7.80,micro,CA
11,2018-09-19T01:19:50.154Z,65.410600,-147.856700,6.60,micro,Alaska
12,2018-09-19T01:08:31.460Z,33.944167,-115.845000,1.85,micro,CA
13,2018-09-19T00:59:28.640Z,12.424000,-87.064800,127.58,light,Nicaragua
14,2018-09-19T00:48:32.442Z,62.367400,-149.654200,8.30,micro,Alaska
15,2018-09-19T00:46:46.494Z,62.229100,-151.315000,79.80,micro,Alaska
16,2018-09-19T00:40:54.500Z,56.251500,-149.218200,27.70,light,Alaska
17,2018-09-19T00:38:57.371Z,57.422900,-149.922700,0.00,light,Alaska
18,2018-09-19T00:30:52.667Z,59.836200,-151.131500,53.80,micro,Alaska
19,2018-09-19T00:22:44.737Z,63.537600,-147.725000,17.20,micro,Alaska
20,2018-09-19T00:21:32.180Z,46.584500,-120.779667,-0.59,micro,Washington
21,2018-09-19T00:17:38.000Z,-6.488000,129.961400,152.72,light,Indonesia
22,2018-09-19T00:16:58.990Z,33.342500,-116.184167,3.62,micro,CA
23,2018-09-19T00:10:10.900Z,36.477500,-121.056833,7.10,light,CA
24,2018-09-19T00:07:12.620Z,33.530998,-116.642334,11.16,micro,CA
25,2018-09-19T00:03:02.366Z,62.949000,-150.699400,108.40,micro,Alaska
26,2018-09-19T00:01:37.050Z,36.705500,141.001300,45.93,light,Japan
27,2018-09-18T23:57:49.447Z,60.121600,-141.300000,5.50,micro,Alaska
28,2018-09-18T23:56:21.000Z,19.399834,-155.281494,0.61,micro,Hawaii
29,2018-09-18T23:50:10.350Z,-30.875500,-71.446100,47.58,light,Chile
...,...,...,...,...,...,...
10192,2018-08-20T03:53:58.762Z,69.463300,-144.160100,1.00,light,Alaska
10193,2018-08-20T03:52:24.665Z,38.415700,-118.921000,9.70,micro,Nevada
10194,2018-08-20T03:52:06.087Z,69.556500,-145.027700,5.00,micro,Alaska
10195,2018-08-20T03:51:40.635Z,38.419400,-118.913500,8.00,micro,Nevada
10196,2018-08-20T03:50:15.552Z,69.556900,-144.702800,10.30,light,Alaska
10197,2018-08-20T03:48:03.118Z,69.519500,-144.357700,8.20,micro,Alaska
10198,2018-08-20T03:48:01.430Z,48.571667,-123.051167,13.96,micro,Washington
10199,2018-08-20T03:45:31.400Z,19.166000,-66.538500,13.00,light,Puerto Rico
10200,2018-08-20T03:45:09.426Z,69.489800,-144.263300,8.70,light,Alaska
10201,2018-08-20T03:44:06.665Z,65.571000,-144.855700,12.90,micro,Alaska
10202,2018-08-20T03:40:20.070Z,-8.313200,116.762100,10.00,light,Indonesia
10203,2018-08-20T03:38:24.846Z,69.464800,-144.107700,2.20,micro,Alaska
10204,2018-08-20T03:38:16.573Z,59.885100,-141.279700,20.50,micro,Alaska
10205,2018-08-20T03:30:12.770Z,33.487000,-116.786167,4.52,micro,CA
10206,2018-08-20T03:29:11.461Z,36.853500,-117.690500,10.00,micro,California
10208,2018-08-20T03:20:53.832Z,69.493200,-144.128000,7.00,micro,Alaska
10209,2018-08-20T03:20:33.467Z,65.745400,-150.387700,8.50,micro,Alaska
10210,2018-08-20T03:18:18.631Z,69.435800,-144.494900,7.80,micro,Alaska
10211,2018-08-20T03:17:22.906Z,65.626100,-161.822500,13.00,micro,Alaska
10212,2018-08-20T03:12:53.560Z,33.497333,-116.795167,3.59,micro,CA
10213,2018-08-20T03:12:13.580Z,46.624833,-120.527500,15.79,micro,Washington
10214,2018-08-20T03:11:41.083Z,69.565500,-145.093100,0.80,micro,Alaska
10215,2018-08-20T03:10:29.900Z,58.223700,-142.518400,10.00,light,Alaska
10216,2018-08-20T03:06:33.107Z,69.531800,-144.658900,3.70,micro,Alaska
10217,2018-08-20T03:04:11.280Z,33.485167,-116.785000,4.54,micro,CA
10218,2018-08-20T03:00:34.960Z,19.196333,-155.397171,33.11,micro,Hawaii
10219,2018-08-20T02:59:25.689Z,69.448300,-144.148700,0.10,micro,Alaska
10220,2018-08-20T02:58:04.870Z,33.477167,-116.791667,3.91,micro,CA
10221,2018-08-20T02:57:36.210Z,56.116600,-149.838700,10.00,light,Alaska
10222,2018-08-20T02:48:04.552Z,69.542600,-144.632300,21.60,micro,Alaska

In [300]:
df_group = df_clean.groupby(by=['mag', 'region']).count()

In [301]:
df_group

                                                       time  latitude  \
mag   region
micro  Afghanistan                                      NaN       NaN
       Alabama                                          NaN       NaN
       Alaska                                        2225.0    2225.0
       Argentina                                        NaN       NaN
       Arizona                                          6.0       6.0
       Arkansas                                         4.0       4.0
       Australia                                        NaN       NaN
       B.C., MX                                         6.0       6.0
       Bolivia                                          NaN       NaN
       Bonaire, Saint Eustatius and Saba                NaN       NaN
       Bosnia and Herzegovina                           NaN       NaN
       British Virgin Islands                           NaN       NaN
       Burma                                            NaN       NaN
       CA                                            3373.0    3373.0
       California                                     149.0     149.0
       Canada                                          23.0      23.0
       Chile                                            NaN       NaN
       China                                            NaN       NaN
       Colombia                                         NaN       NaN
       Colorado                                         NaN       NaN
       Costa Rica                                       NaN       NaN
       Croatia                                          NaN       NaN
       Democratic Republic of the Congo                 NaN       NaN
       Dominican Republic                               1.0       1.0
       East Timor                                       NaN       NaN
       Ecuador                                          NaN       NaN
       El Salvador                                      NaN       NaN
       Fiji                                             NaN       NaN
       Georgia                                          1.0       1.0
       Greece                                           NaN       NaN
...                                                     ...       ...
great  Poland                                           NaN       NaN
       Portugal                                         NaN       NaN
       Puerto Rico                                      NaN       NaN
       Romania                                          NaN       NaN
       Russia                                           NaN       NaN
       Solomon Islands                                  NaN       NaN
       South Africa                                     NaN       NaN
       South Carolina                                   NaN       NaN
       South Georgia and the South Sandwich Islands     NaN       NaN
       South Sandwich Islands                           NaN       NaN
       Svalbard and Jan Mayen                           NaN       NaN
       Taiwan                                           NaN       NaN
       Tajikistan                                       NaN       NaN
       Tanzania                                         NaN       NaN
       Tennessee                                        NaN       NaN
       Texas                                            NaN       NaN
       Tonga                                            NaN       NaN
       Trinidad and Tobago                              NaN       NaN
       Turkey                                           NaN       NaN
       U.S. Virgin Islands                              NaN       NaN
       Uganda                                           NaN       NaN
       United Kingdom                                   NaN       NaN
       Utah                                             NaN       NaN
       Vanuatu                                          NaN       NaN
       Venezuela                                        NaN       NaN
       Vermont                                          NaN       NaN
       Wallis and Futuna                                NaN       NaN
       Washington                                       NaN       NaN
       Wyoming                                          NaN       NaN
       offshore Azerbaijan                              NaN       NaN

                                                     longitude   depth
mag   region
micro  Afghanistan                                         NaN     NaN
       Alabama                                             NaN     NaN
       Alaska                                           2225.0  2225.0
       Argentina                                           NaN     NaN
       Arizona                                             6.0     6.0
       Arkansas                                            4.0     4.0
       Australia                                           NaN     NaN
       B.C., MX                                            6.0     6.0
       Bolivia                                             NaN     NaN
       Bonaire, Saint Eustatius and Saba                   NaN     NaN
       Bosnia and Herzegovina                              NaN     NaN
       British Virgin Islands                              NaN     NaN
       Burma                                               NaN     NaN
       CA                                               3373.0  3373.0
       California                                        149.0   149.0
       Canada                                             23.0    23.0
       Chile                                               NaN     NaN
       China                                               NaN     NaN
       Colombia                                            NaN     NaN
       Colorado                                            NaN     NaN
       Costa Rica                                          NaN     NaN
       Croatia                                             NaN     NaN
       Democratic Republic of the Congo                    NaN     NaN
       Dominican Republic                                  1.0     1.0
       East Timor                                          NaN     NaN
       Ecuador                                             NaN     NaN
       El Salvador                                         NaN     NaN
       Fiji                                                NaN     NaN
       Georgia                                             1.0     1.0
       Greece                                              NaN     NaN
...                                                        ...     ...
great  Poland                                              NaN     NaN
       Portugal                                            NaN     NaN
       Puerto Rico                                         NaN     NaN
       Romania                                             NaN     NaN
       Russia                                              NaN     NaN
       Solomon Islands                                     NaN     NaN
       South Africa                                        NaN     NaN
       South Carolina                                      NaN     NaN
       South Georgia and the South Sandwich Islands        NaN     NaN
       South Sandwich Islands                              NaN     NaN
       Svalbard and Jan Mayen                              NaN     NaN
       Taiwan                                              NaN     NaN
       Tajikistan                                          NaN     NaN
       Tanzania                                            NaN     NaN
       Tennessee                                           NaN     NaN
       Texas                                               NaN     NaN
       Tonga                                               NaN     NaN
       Trinidad and Tobago                                 NaN     NaN
       Turkey                                              NaN     NaN
       U.S. Virgin Islands                                 NaN     NaN
       Uganda                                              NaN     NaN
       United Kingdom                                      NaN     NaN
       Utah                                                NaN     NaN
       Vanuatu                                             NaN     NaN
       Venezuela                                           NaN     NaN
       Vermont                                             NaN     NaN
       Wallis and Futuna                                   NaN     NaN
       Washington                                          NaN     NaN
       Wyoming                                             NaN     NaN
       offshore Azerbaijan                                 NaN     NaN

[510 rows x 4 columns]

In [300]:
df_group = df_clean.groupby(by=['mag', 'region']).count()

In [302]:
df_reindex = df_group.reset_index().dropna()

In [303]:
df_reindex

,mag,region,time,latitude,longitude,depth
2,micro,Alaska,2225.0,2225.0,2225.0,2225.0
4,micro,Arizona,6.0,6.0,6.0,6.0
5,micro,Arkansas,4.0,4.0,4.0,4.0
7,micro,"B.C., MX",6.0,6.0,6.0,6.0
13,micro,CA,3373.0,3373.0,3373.0,3373.0
14,micro,California,149.0,149.0,149.0,149.0
15,micro,Canada,23.0,23.0,23.0,23.0
23,micro,Dominican Republic,1.0,1.0,1.0,1.0
28,micro,Georgia,1.0,1.0,1.0,1.0
32,micro,Hawaii,193.0,193.0,193.0,193.0
33,micro,Idaho,34.0,34.0,34.0,34.0
41,micro,Kansas,31.0,31.0,31.0,31.0
45,micro,Maine,2.0,2.0,2.0,2.0
48,micro,Missouri,2.0,2.0,2.0,2.0
49,micro,Montana,200.0,200.0,200.0,200.0
50,micro,NV,1.0,1.0,1.0,1.0
52,micro,Nevada,539.0,539.0,539.0,539.0
54,micro,New Hampshire,1.0,1.0,1.0,1.0
55,micro,New Jersey,1.0,1.0,1.0,1.0
62,micro,Ohio,1.0,1.0,1.0,1.0
63,micro,Oklahoma,1.0,1.0,1.0,1.0
64,micro,Oregon,23.0,23.0,23.0,23.0
68,micro,"Pasadena, CA",1.0,1.0,1.0,1.0
69,micro,Pennsylvania,3.0,3.0,3.0,3.0
74,micro,Puerto Rico,72.0,72.0,72.0,72.0
86,micro,Tennessee,51.0,51.0,51.0,51.0
94,micro,Utah,84.0,84.0,84.0,84.0
97,micro,Vermont,1.0,1.0,1.0,1.0
99,micro,Washington,163.0,163.0,163.0,163.0
100,micro,Wyoming,45.0,45.0,45.0,45.0
...,...,...,...,...,...,...
233,strong,Greece,2.0,2.0,2.0,2.0
234,strong,Guam,1.0,1.0,1.0,1.0
238,strong,India,3.0,3.0,3.0,3.0
239,strong,Indonesia,23.0,23.0,23.0,23.0
240,strong,Iran,3.0,3.0,3.0,3.0
243,strong,Japan,15.0,15.0,15.0,15.0
244,strong,Japan region,1.0,1.0,1.0,1.0
251,strong,Mexico,1.0,1.0,1.0,1.0
257,strong,New Caledonia,12.0,12.0,12.0,12.0
261,strong,New Zealand,3.0,3.0,3.0,3.0
262,strong,Nicaragua,1.0,1.0,1.0,1.0
264,strong,Northern Mariana Islands,4.0,4.0,4.0,4.0
268,strong,Oregon,1.0,1.0,1.0,1.0
270,strong,Panama,1.0,1.0,1.0,1.0
271,strong,Papua New Guinea,12.0,12.0,12.0,12.0
274,strong,Peru,3.0,3.0,3.0,3.0
275,strong,Philippines,6.0,6.0,6.0,6.0
280,strong,Russia,5.0,5.0,5.0,5.0
281,strong,Solomon Islands,2.0,2.0,2.0,2.0
284,strong,South Georgia and the South Sandwich Islands,2.0,2.0,2.0,2.0
285,strong,South Sandwich Islands,8.0,8.0,8.0,8.0
292,strong,Tonga,3.0,3.0,3.0,3.0
294,strong,Turkey,1.0,1.0,1.0,1.0
299,strong,Vanuatu,4.0,4.0,4.0,4.0
300,strong,Venezuela,1.0,1.0,1.0,1.0
305,strong,offshore Azerbaijan,1.0,1.0,1.0,1.0
333,major,Fiji,2.0,2.0,2.0,2.0
359,major,New Caledonia,1.0,1.0,1.0,1.0
376,major,Peru,1.0,1.0,1.0,1.0
402,major,Venezuela,1.0,1.0,1.0,1.0

In [304]:
df_sort = df_reindex.sort_values(by='time', ascending=False).drop_duplicates(['mag'])

In [305]:
df_sort

        mag      region    time  latitude  longitude   depth
13    micro          CA  3373.0    3373.0     3373.0  3373.0
104   light      Alaska  1222.0    1222.0     1222.0  1222.0
239  strong   Indonesia    23.0      23.0       23.0    23.0
333   major        Fiji     2.0       2.0        2.0     2.0

In [307]:
df_final = df_sort.set_index('mag')[['region', 'time']].rename(columns={"time": "times"})

In [308]:
df_final

            region   times
mag
micro           CA  3373.0
light       Alaska  1222.0
strong   Indonesia    23.0
major         Fiji     2.0

In [ ]:
df_final['times'] = df_final.times.astype('int')